# Raw and large datasets
data/raw/
*.nc

# Private/environment files
.env
.env.*
.streamlit/secrets.toml
secrets.toml

# Python temporary files
__pycache__/
*.pyc
*.pyo

# Jupyter temporary files
.ipynb_checkpoints/

# OS files
.DS_Store

# Temporary Streamlit files
.streamlit/cache/

# Logs
*.log

# Temporary tunnel files
cloudflared
